{{ form_start(form) }}

{# Title #}
{% include "/form/templates/field.html.twig" with {field:form.title} only %}

{# Title #}
{% include "/form/templates/field.html.twig" with {field:form.description} only %}

{# Thumbnail #}
	<div class="form-group"> {{form_row(form.postThumbnail)}}
 
</div>

<div class="form-group">
	{{form_label(form.submit)}}
</div>

{{ form_end(form) }}