{{ form_start(form) }}
<div class="py-4 ">

	{# Avatar #}
	{% include "form/templates/avatar.html.twig" with {avatar:form.avatar} only %}

	{# Pseudo #}
	{% include "form/templates/field.html.twig" with {field:form.pseudo} only %}

	{# Email #}
	{% include "form/templates/field.html.twig" with {field:form.email} only %}

	{# Password #}
	{% if app.user %}

		{% include "form/templates/field.html.twig" with {field:form.plainPassword} only %}

	{% else %}

		{% include "form/templates/repeat_password.html.twig" with {field:form.plainPassword} only %}

	{% endif %}

	{# Submit #}
	<div>
		{{ form_widget(form.submit)}}
	</div>

</div>
{% do form.avatar.setRendered %}
{{ form_end(form) }}
