{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- Contact us
{% endblock %}

{% block content %}
		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				<i class="fa-solid fa-circle-exclamation"></i>	{{message}}
			</div>
		{% endfor %}

<div class="container my-5">
<h1> Contact page (WIP).</h1>

{# Contact form #}
{% include "/form/contact.html.twig" %}

</div>
{% endblock %}