{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- Contact us
{% endblock %}

{% block content %}
{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{message}}
			</div>
		{% endfor %}

<div class="container my-5">
<h1> Contact page (WIP).</h1>
{{form(form)}}
</div>
{% endblock %}