{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- Accueil
{% endblock %}


{% block content %}

	{{parent()}}
	<div class="container mt-4">

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{message}}
			</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{message}}
			</div>
		{% endfor %}

		{% if app.user is null %}
			<div class="jumbotron">
				<h1 class="display-4">Bienvenue sur instakilo !</h1>
				<p class="lead">Instakilo est une application permettant de partager vos images rapidement et simplement !</p>
				<hr class="my-4">
				<p>Pour commencer à utiliser l'application, rendez-vous sur la page d'inscription.</p>
				<a class="btn btn-primary btn-lg" href="#" role="button">Créer son compte</a>
			</div>
		{% endif %}
		
		{# List all posts #}
		{% include '/pages/images/list.html.twig' %}

	</div>


</div>{% endblock %}
