{% extends "base.html.twig" %}

{% block title %}
	{{parent()}}
	- Your privacy
{% endblock %}

{% block content %}
{{parent()}}

	<div class="container my-5">
		<h1>Privacy page (WIP)</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eius praesentium quos minima voluptatem error et libero ad modi, optio sapiente exercitationem assumenda tempore molestiae, quidem eos cumque? Repellat pariatur molestiae soluta autem eos voluptas quidem facere repudiandae officiis harum distinctio blanditiis vel, consequuntur expedita aspernatur at, nihil quis ex.</p>
	
		{% if app.user %}
	
		<p><a href="{{path('user.delete',{id:app.user.id})}}" onclick="return confirm('Are u sure you want to delete your account ?')">Delete your account.</a></p>
	
		{% else %}
	
		<p>Want to remove your account ? <a href="{{path('security.login')}}">Log into your account</a>.</p>	
	
		{% endif %}
	</div>
	
{% endblock %}