{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- Home
{% endblock %}


{% block content %}

	{{parent()}}

	<div class="container mt-4">
		{# List all posts #}
		{% include '/components/posts.html.twig' %}
	</div>

</div>{% endblock %}
