{% extends "base.html.twig" %}

{% block title %}
    {{parent()}} - Access denied
{% endblock title %}

{% block content %}
<div class="container text-center my-4 error">
 <h1>403</h1>
    <p> You don't have access permission to this page !</p>
   

   <p></p> Back to <a href="{{path('home')}}"> homepage</a>
</div>
{% endblock content %}
