{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
<h1>Welcome to the administration dashboard.</h1> <br>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus magnam, nam voluptatibus, consequuntur aliquam error dolorem veritatis aperiam explicabo rerum quidem voluptas praesentium ipsam reprehenderit, suscipit eligendi laudantium harum! Esse omnis quas voluptatibus eveniet voluptates tenetur aperiam ullam iure veniam. Eaque atque laboriosam, possimus corrupti nemo sunt animi numquam architecto?</p>
<br>
<a href="{{path('home')}}">Go back to homepage.</a>
{% endblock content %}