{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	-
	{{label}}
	a post
{% endblock %}

{% block content %}
	<div class="container">

		<h1 class="mt-4">{{label}} a post</h1>

		<div>
			{% include "/form/post.html.twig" %}
		</div>

	</div>
{% endblock %}
