{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- Accueil
{% endblock %}


{% block content %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur instakilo !</h1>
			<p class="lead">Instakilo est une application permettant de partager vos images rapidement et simplement !</p>
			<hr class="my-4">
			<p>Pour commencer à utiliser l'application, rendez-vous sur la page d'inscription.</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Créer son compte</a>
		</div>
	</div>

    	<div class="container-fluid">
	{% for image in images %}


		<div class="card text-white bg-primary mt-4 mb-4 col-lg-12 mx-auto" style="max-width:400px" >
			<div class="card-header ">Category here</div>
			<div class="card-body">
				<img src="{{image.url}}" width="300" height="300">
				<h4 class="card-title">{{image.title}}</h4>
				<p class="card-text">{{image.description}}</p>
			</div>
        </div>

		{% endfor %}

</div>
	{% endblock %}
