{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- Accueil
{% endblock %}


{% block content %}
<div class="container mt-4">
	<div class="jumbotron">
		<h1 class="display-4">Bienvenue sur instakilo !</h1>
		<p class="lead">Instakilo est une application permettant de partager vos images rapidement et simplement !</p>
		<hr class="my-4">
		<p>Pour commencer à utiliser l'application, rendez-vous sur la page d'inscription.</p>
		<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	</div>
</div>
{% endblock %}
