{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- Change your password
{% endblock %}

{% block content %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			<i class="fa-solid fa-circle-check"></i>	{{message}}
		</div>
	{% endfor %}
	
	{% for message in app.flashes('warning') %}
		<div class="alert alert-warning">
			<i class="fa-solid fa-circle-exclamation"></i>	{{message}}
		</div>
	{% endfor %}

	<div class="container my-5">
		<h1>Change your password</h1>
		{% include "/form/change_password.html.twig" %}

	</div>
{% endblock %}
