{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- Register
{% endblock %}
{% block content %}
	<div class="container my-5 form-control">

		<h1>
			Create your account
		</h1>

		{% include "/form/user.html.twig" %}

		<p class="mt-4 text-end">Already got an account ?
			<a href="{{path('security.login')}}">sign in here</a>
		</p>

	</div>
{% endblock %}
